<%- include('include/_header')%>

<!-- Measurements list -->

<header id="header">
     <nav>
          <div class="container">
               <div class="text-center">
                    <h1 class="nav-brand text-dark">Mediciones de Temperatura Corporal</h1>
               </div>
          </div>
     </nav>
</header>

<main id="site-main">
     <div class="container">
          <div class="box-nav d-flex justify-between">
               <div class="filter">
                    <a href="/user/dashboard"><i class="fas fa-angle-double-left"></i> Home</a>
                    <a href="/btm/search"><i class="fas fa-angle-double-left"></i> Buscar mediciones</a>
               </div>
          </div>
          <br>
          
          <!-- Form handling -->
          <form>   
               <table class="table">
                    <thead class="thead-dark">
                         <tr>
                              <th scope="col">#</th>
                              <th scope="col">Profile</th>
                              <th scope="col">Nombres</th>
                              <th scope="col">Apellidos</th>
                              <th scope="col">Fecha</th>
                              <th scope="col">Hora</th>
                              <th scope="col">Celsius (°C)</th>
                              <th scope="col">Acciones</th>
                         </tr>
                    </thead>
                    <tbody>
                         <% if(locals.measurements){ %>  
                              <% for(var i=0; i < measurements.length; i++) { %>
                                   <tr>
                                        <th scope="row"><%= i+1 %></th>
                                        <td><img src="/user/images/<%= measurements[i].userId.imgKey %>" class="rounded-circle" title="<%= measurements[i].userId.nombres %> <%= measurements[i].userId.apellidos %>" style="width: 51px; height: 51px;"/></td>
                                        <td><%= measurements[i].userId.nombres %></td>
                                        <td><%= measurements[i].userId.apellidos %></td>
                                        <td><%= measurements[i].fechaMedicion.toISOString().slice(0, 10) %></td>
                                        <td><%= measurements[i].fechaMedicion.toISOString().slice(11, 16) %></td>
                                        <td><%= measurements[i].celsius %></td>
                                        <td>
                                             <a href="/btm/measurements/<%= measurements[i].userId._id %>" 
                                                  class="btn border-shadow update">
                                                  <span><i class="far fa-eye"></i></span>
                                             </a>
                                        </td>
                                   </tr>
                                   <% } %>
                         <% } %>
                         
                    </tbody>
               </table>
          </form>


          <!-- /Form handling -->

     </div>
</main>

<!-- /Measurements list -->


<%- include('include/_footer')%>


