<%- include('include/_header')%>

<!-- Measurements list -->

<div class="d-flex">

     <%- include('include/_sidebar')%>
     
     <div class="w-100">
          <%- include('include/_navbar')%>

          <nav aria-label="breadcrumb">
               <ol class="breadcrumb" >
                 <li class="breadcrumb-item"><a href="/user/home">Dashboard</a></li>
                 <li class="breadcrumb-item active" aria-current="page">Temperatura</li>
                 <li class="breadcrumb-item active" aria-current="page">Últimas Mediciones</li>
               </ol>
          </nav> 
          
          <!-- Form handling -->
          <form>   
               <table class="table">
                    <thead class="thead-dark">
                         <tr>
                              <th scope="col">#</th>
                              <th scope="col">Profile</th>
                              <th scope="col">Nombres</th>
                              <th scope="col">Apellidos</th>
                              <th scope="col">Fecha</th>
                              <th scope="col">Hora</th>
                              <th scope="col">Celsius (°C)</th>
                              <th scope="col">Acciones</th>
                         </tr>
                    </thead>
                    <tbody>
                         <% if(locals.measurements){ %>  
                              <% for(var i=0; i < measurements.length; i++) { %>
                                   <tr>
                                        <th scope="row"><%= i+1 %></th>
                                        <td><img src="/img/user-avatar.png" class="rounded-circle" title="<%= measurements[i].userId.nombres %> <%= measurements[i].userId.apellidos %>" style="width: 51px; height: 51px;"/></td>
                                        <td><%= measurements[i].userId.nombres %></td>
                                        <td><%= measurements[i].userId.apellidos %></td>
                                        <td><%= measurements[i].fechaMedicion.toLocaleString('ec-Ec').slice(0, 9) %></td>
                                        <td><%= measurements[i].fechaMedicion.toLocaleString('ec-Ec').slice(10, 15) %></td>
                                        <td><%= measurements[i].celsius %></td>
                                        <td>
                                             <a href="/btm/measurements/<%= measurements[i].userId._id %>" 
                                                  class="btn border-shadow update">
                                                  <span><i class="far fa-eye"></i></span>
                                             </a>
                                        </td>
                                   </tr>
                                   <% } %>
                         <% } %>
                         
                    </tbody>
               </table>
          </form>


          <!-- /Form handling -->

     </div>


</div>

    
<!-- /Measurements list -->


<%- include('include/_footer')%>


