<%- include('include/_header')%>

<!-- Measurements list -->

<div class="d-flex">

     <%- include('include/_sidebar')%>


     <div class="w-100">
          <%- include('include/_navbar')%>
          <nav aria-label="breadcrumb">
               <ol class="breadcrumb" >
                 <li class="breadcrumb-item"><a href="/user/home">Dashboard</a></li>
                 <li class="breadcrumb-item active" aria-current="page">Mediciones de temperatura</li>
                 <li class="breadcrumb-item active" aria-current="page">Buscar</li>
               </ol>
          </nav> 

          <% if(locals.userBodyTempMeasurements.length > 0){ %>
               <div class="form-title text-center">
                    <h3 class="text-dark">Últimas mediciones de <%= userData.nombres %> <%= userData.apellidos %>
                    </h3>
               </div>
                    <center>

                         <div class="container  w-75 pt-3">
                              <form>   
                                   <table class="table table-user-btms">
                                        <thead class="thead-dark">
                                             <tr>
                                                  <th scope="col">#</th>
                                                  <th scope="col">Fecha</th>
                                                  <th scope="col">Hora</th>
                                                  <th scope="col">Celsius (°C)</th>
                                             </tr>
                                        </thead>
                                        <tbody>
                                             <% for(var i=0; i < userBodyTempMeasurements.length; i++) { %>
                                                  <tr>
                                                       <th scope="row"><%= i+1 %></th>
                                                       <td><%= userBodyTempMeasurements[i].fechaMedicion.toLocaleString('ec-Ec').slice(0, 9) %>
                                                       </td>
                                                       <td><%= userBodyTempMeasurements[i].fechaMedicion.toLocaleString('ec-Ec').slice(10, 15) %>
                                                       </td>
                                                       <td><%= userBodyTempMeasurements[i].celsius %></td>
                                                  </tr>
                                             <% } %>
                                        </tbody>
                                   </table>
                              </form>  
                              <br> 
                              <form method="GET" id="generateUserReport" >
                                   <div>
                                        <div class="form-group">
                                             <input type="hidden" name="userId" value="<%= userData._id %>" class="form-control">
                                        </div>
                                        <div class="form-group">
                                             <button type="submit" class="btn btn-primary"><i class="fas fa-file-pdf"></i> Generar Reporte
                                             </button>
                                             <span><i>Puede tomar unos segundos.</i></span>
                                        </div>
                                   </div>
                              </form>
                         </div>
                           
                    </div>
                    </center>

          <% } else { %>

               <div class="m-0  row justify-content-center pt-5 ">
                    <div class="alert alert-warning w-50" role="alert">
                         <h4 class="alert-heading">Usuario sin mediciones de Temperatura</h4>
                         <p>Inténtelo más tarde.</p>
                         <hr>
                         <p class="mb-0"></p>
                       </div>
               </div>
               
               
              
          <% } %>     
     </div>

</div>

     

<!-- /Measurements list -->


<%- include('include/_footer')%>


