<%- include('include/_header')%>

<!-- Measurements list -->

<div class="d-flex">

     <div class="sidebar">
          <div class="logo-details">
            <i class='bx bxs-thermometer'></i>
            <span class="logo_name">Btms</span>
          </div>
          <ul class="nav-links">
            <li>
              <a href="/user/home">
                <i class='bx bx-grid-alt' ></i>
                <span class="link_name">Dashboard</span>
              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Dashboard</a></li>
              </ul>
            </li>
            <li>
              <div class="iocn-link">
                <a href="/btm/search">
                  <i class='bx bx-line-chart'aria-hidden="true"></i>
                  <span class="link_name">Mediciones de Temperatura</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
              </div>
              <ul class="sub-menu">
                <li><a class="link_name" href="#">Mediciones de Temperatura</a></li>
                <li><a href="/btm/measurements"><i class='bx bx-table icon'></i>Últimas Mediciones</a></li>
                
              </ul>
            </li>
            <li>
              <div class="iocn-link">
                <a href="/user/search">
                  <i class='bx bxs-user-detail' aria-hidden="true"></i>
                  <span class="link_name">Usuarios</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
              </div>
              <ul class="sub-menu">
                <li><a class="link_name" href="#">Usuarios</a></li>
                <li><a href="/user/search"><i class='bx bx-search  icon'></i>Buscar</a></li>
                <li><a href="/user/create-user"><i class='bx bxs-user-plus  icon'></i>Registrar</a></li>
                <li><a href="/user/allUsers"><i class='bx bx-table icon '></i>Últimos Registros</a></li>
              </ul>
            </li>
            
           
      </ul>
        </div>


     <div class="w-100">
          
          <br>

          <% if(locals.userBodyTempMeasurements.length > 0){ %>  
               <form>   
                    <table class="table table-user-btms">
                         <thead class="thead-dark">
                              <tr>
                                   <th scope="col">#</th>
                                   <th scope="col">Fecha</th>
                                   <th scope="col">Hora</th>
                                   <th scope="col">Celsius (°C)</th>
                              </tr>
                         </thead>
                         <tbody>
                              <% for(var i=0; i < userBodyTempMeasurements.length; i++) { %>
                                   <tr>
                                        <th scope="row"><%= i+1 %></th>
                                        <td><%= userBodyTempMeasurements[i].fechaMedicion.toISOString().slice(0, 10) %>
                                        </td>
                                        <td><%= userBodyTempMeasurements[i].fechaMedicion.toISOString().slice(11, 16) %>
                                        </td>
                                        <td><%= userBodyTempMeasurements[i].celsius %></td>
                                   </tr>
                              <% } %>
                         </tbody>
                    </table>
               </form>     
               <div>
                    <a href="/btm/measurements/report/<%= userId %>" class="btn btn-success"><i class="fas fa-file-pdf"></i> Reporte
                    </a>
               </div>

          <% } else { %>
               <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Usuario sin mediciones de Temperatura</h5>
                    </div>
               </div>
          <% } %>     
     </div>

</div>

     

<!-- /Measurements list -->


<%- include('include/_footer')%>


