<%- include('include/_header')%>

<!-- Measurements list -->

<div class="d-flex">

     <%- include('include/_sidebar')%>


     <div class="w-100">
          <%- include('include/_navbar')%>
          <nav aria-label="breadcrumb">
               <ol class="breadcrumb" >
                 <li class="breadcrumb-item"><a href="/user/home">Dashboard</a></li>
                 <li class="breadcrumb-item active" aria-current="page">Mediciones de temperatura</li>
                 <li class="breadcrumb-item active" aria-current="page">Buscar</li>
               </ol>
          </nav> 

          <% if(locals.userBodyTempMeasurements.length > 0){ %>
               <div class="form-title text-center">
                    <h3 class="text-dark">Últimas mediciones de <%= userData.nombres %> <%= userData.apellidos %>
                    </h3>
               </div>
               
               <div class="container w-75">
                    <form>   
                         <table class="table table-user-btms">
                              <thead class="thead-dark">
                                   <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Hora</th>
                                        <th scope="col">Celsius (°C)</th>
                                   </tr>
                              </thead>
                              <tbody>
                                   <% for(var i=0; i < userBodyTempMeasurements.length; i++) { %>
                                        <tr>
                                             <th scope="row"><%= i+1 %></th>
                                             <td><%= userBodyTempMeasurements[i].fechaMedicion.toLocaleString('ec-Ec').slice(0, 9) %>
                                             </td>
                                             <td><%= userBodyTempMeasurements[i].fechaMedicion.toLocaleString('ec-Ec').slice(10, 15) %>
                                             </td>
                                             <td><%= userBodyTempMeasurements[i].celsius %></td>
                                        </tr>
                                   <% } %>
                              </tbody>
                         </table>
                    </form>  
                    <br> 

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#modalReport">
                         Generar Reporte
                       </button>
 
                       <!-- Modal -->
                       <div class="modal fade" id="modalReport" tabindex="-1" role="dialog" aria-labelledby="modalReportTitle" aria-hidden="true">
                         <div class="modal-dialog modal-dialog-centered" role="document">
                           <div class="modal-content">
                             <div class="modal-header">
                               <h5 class="modal-title" id="modalReportLongTitle">Reporte</h5>
                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                               </button>
                             </div>
                             <form method="GET" id="generateUserReport"> 
                               <div class="modal-body">
                               <div class="form-row">
                                 <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                   <label for="fechaInicio">Fecha de inicio</label>
                                   <input type="hidden" name="userId" value="<%= userData._id %>" class="form-control">
                                   <input class="form-control" type="date" id="fechaInicio" name="fechaInicio"  autofocus required>
                             </div>
                                 <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                   <label for="fechaFin">Fecha final</label>
                                   <input class="form-control" type="date" id="fechaFin" name="fechaFin" required>
                             </div>
                               </div>
                             </div>
                             <div class="modal-footer">
                               <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                               <button type="submit" class="btn btn-primary" form="generateUserReport">Generar</button>
                               <span><i>Puede tomar unos segundos.</i></span>
                             </div></form>
                             
                           </div>
                         </div>
                       </div>
 
 
                    <!---->       
               </div>
                 

          <% } else { %>

               <div class="m-0  row justify-content-center pt-5 ">
                    <div class="alert alert-warning w-50" role="alert">
                         <h4 class="alert-heading">Usuario sin mediciones de Temperatura</h4>
                         <p>Inténtelo más tarde.</p>
                         <hr>
                         <p class="mb-0"></p>
                       </div>
               </div>
               
               
              
          <% } %>     
     </div>

</div>

     

<!-- /Measurements list -->
<script>
     document.getElementById("fechaFin").valueAsDate = new Date();
</script>

<%- include('include/_footer')%>


