<%- include('include/_header')%>

<!-- Users list -->


<div class="d-flex">
     <%- include('include/_sidebar')%>
    

     <div class="w-100">
          <%- include('include/_navbar')%>
          <!--ADD USER-->
          <nav aria-label="breadcrumb">
               <ol class="breadcrumb" >
                 <li class="breadcrumb-item"><a href="/user/home">Dashboard</a></li>
                 <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
                 <li class="breadcrumb-item active" aria-current="page">Registrar</li>
               </ol>
          </nav>  
          <div class="form-title text-center">
               <h2 class="text-dark">Nuevo usuario</h2>
               <span>Cree un nuevo usuario a partir de los siguientes datos</span>
          </div>

     <div class="container mt-4 ">
          <form method="POST" id="add_user" enctype="multipart/form-data">  
          <div class="row">
               <div class="col-md-8">
                    
                         <div class="form-row">
                              <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                   <label for="cedula">Cédula</label>
                                   <input type="text" name="cedula" id="cedula" placeholder="Cedula" class="form-control" autofocus required>
                              </div>
                           <div class="form-group col-md-6 col-sm-12 col-xs-12">
                              <label for="nombres">Nombres</label>
                              <input type="text" name="nombres" id="nombres" placeholder="Nombres" class="form-control" required>
                           </div>
                           <div class="form-group col-md-6 col-sm-12 col-xs-12">
                              <label for="apellidos">Apellidos</label>
                              <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos" class="form-control" required>
                           </div>
                           <div class="form-group col-md-6 col-sm-12 col-xs-12">
                              <label for="celular">Celular</label>
                              <input type="text" name="celular" id="celular" placeholder="Numero celular" class="form-control" required>
                         </div>
                         </div>
                         <div class="form-row">
                              
                              
                              <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                   <label for="fechaNacimiento">Fecha de nacimiento</label>
                                   <input class="form-control" type="date" id="fechaNacimiento" name="fechaNacimiento" required>
                              </div>
                              <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                   <label for="sexo">Sexo</label>
                                   <select class="form-control" name="sexo" id="sexo" required>
                                        <option value="Hombre">Hombre</option>
                                        <option value="Mujer">Mujer</option>
                                        <option value="Otro">Otro</option>
                                   </select>
                                 </div>
                                 <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                   <label for="direccion">Direccion</label>
                                   <input type="text" name="direccion" id="direccion "  placeholder="Dirección" class="form-control col-sm-12 col-xs-12 input-lg"   required>
                              </div>  
                                 <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                   <label for="estatus">Estatus</label>
                                   <select class="form-control" name="estatus" id="estatus" required>
                                        <option value="true">Activo</option>
                                        <option value="false">Inactivo</option>
                                   </select>
                              </div>
                              <div class="form-group col-md-6 col-sm-12 col-xs-12" id="roles">
                                   <label for="rol">Rol</label>
                                   <select class="form-control" name="rol" id="rol" required>
                                        <% for(var i=0; i < roles.length; i++) { %>
                                             <option value=<%= roles[i]._id %> <%= roles[i].nombre === 'Básico' ? 'selected' : '' %>><%= roles[i].nombre %></option>
                                        <% } %>
                                   </select>
                              </div> 
                              
                                        
                    <div class="form-group" id="adminCredentials">
                         
                         <div>
                              <h5>Provea email y contraseña para el Administrador</h5>
                         </div>
                         <div class="form-group" id="input_email"></div>
                         <div class="form-group" id="input_password"></div>
                    </div>     

               </div>
          </div>
               <div class="col-md-4">
                    <div class="form-row mb-4">
                         <div class="form-group col-md-12 text-center">
                              <label for="userPhoto">Foto de perfil</label>
                              <div class="profile-pic-div">
                                   
                                   <img src="/img/user-avatar.png" id="img_uploaded">
                                   <input type="file" id="userPhoto" name="userPhoto" accept="image/jpeg, image/png" class="form-control"  required>
                                   <label for="userPhoto" id="uploadBtn">Subir foto</label>
                                 </div>


                         </div>
                         
                        
                              
                    </div>
                    

               </div>
          </div>
          

          <div class="form-group text-center mt-3">
               <button class="btn btn-success" type="submit" value="Submit" id="submit">Guardar</button>
          </div>
     </div>
     </div>
</form>          
     </div>


<script>
     const imgDiv = document.querySelector('.profile-pic-div');
const img = document.querySelector('#img_uploaded');
const file = document.querySelector('#userPhoto');
const uploadBtn = document.querySelector('#uploadBtn');


imgDiv.addEventListener('mouseenter', function(){
    uploadBtn.style.display = "block";
});


imgDiv.addEventListener('mouseleave', function(){
    uploadBtn.style.display = "none";
});

file.addEventListener('change', function(){
    
    const choosedFile = this.files[0];

    if (choosedFile) {

        const reader = new FileReader(); 

        reader.addEventListener('load', function(){
            img.setAttribute('src', reader.result);
        });

        reader.readAsDataURL(choosedFile);

    }
});
</script>


<%- include('include/_footer')%>

