<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->

<div class="container-log">
     <div class="forms-container">
          <div class="signin">
               <form action="" class="sign-in-form">
                    <h2 class="title">
                         Inicia Sesión
                    </h2>
                    <div class="input-field">
                         <i class="fas fa-user"></i>
                         <input type="text" placeholder="Username">
                    </div>
                    <div class="input-field">
                         <i class="fas fa-lock"></i>
                         <input type="password" name="" id="" placeholder="Password">
                    </div>
                    <input type="submit" value="login" class="btn solid">
                    
               </form>
          </div>
     </div>
     <div class="panels-container">
          <div class="panel left-panel">
          <div class="content">
            <h3>BTMS</h3>
            <p>
               Sistema de Mediciones de Temperatura Corporal
            </p>
           
          </div>
          <img src="/img/Covid-19_Temperature.png" class="image" alt="Image-BTMS" />
        </div>
     </div>
</div>
<div class="text-center center-div" id="login">
     <div class=" w-25 border py-5">
          <div class="title pb-5">
               <h2 class="font-weight-bold">Inicia sesión</h2>
               <span>Sistema de Mediciones de Temperatura Corporal</span>
          </div>
          <form action="/auth/login" method="POST">
               <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" name="email" 
                    autofocus required value= <%= locals.email ? email : '' %>>
                    <!--<small class="form-text text-muted text-left">Register email address</small>-->
               </div>
               <br>
               <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="password" 
                    required value=<%= locals.password ? password : '' %>>
               </div>
               <br>
               <% if(locals.message){ %>  
                    <div class="errors">
                         <h7><%= message %></h6>
                    </div>
                    <br>
                <% } %>
               <button type="submit" class="btn btn-success">iniciar sesión</button>
          </form>
     </div>

</div>


<!-- include footer -->
<%- include('include/_footer')%>
<!-- /include footer -->
