<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->

<div class="container-log">
     <div class="forms-container">
          <div class="signin">
               <form action="/auth/login" method="POST" class="sign-in-form">
                    <h2 class="title">
                         Inicia Sesión
                    </h2>
                    <div class="input-field">
                         <i class="fas fa-user"></i>
                         <input type="email" placeholder="E-mail" name="email" 
                         autofocus required value= <%= locals.email ? email : '' %>>
                    </div>
                    <div class="input-field">
                         <i class="fas fa-lock"></i>
                         <input type="password" placeholder="Password" name="password" placeholder="password" 
                         required value=<%= locals.password ? password : '' %>>
                         <input type="hidden" name="redirectTo" value=<%= redirectTo %>>
                    </div>
                    <br>
                    <% if(locals.message){ %>  
                         <div class="errors">
                          <h7><%= message %></h6>
                         </div>
                          <br>
                          <% } %>
                 <input type="submit" value="login" class="btnlogin solid">
                    
               </form>
          </div>
     </div>
     <div class="panels-container">
          <div class="panel left-panel">

          <img src="/img/undraw_Dashboard_re_3b76.svg" class="image" alt="Image-BTMS" />
        </div>
     </div>
</div>


<!-- include footer -->
<%- include('include/_footer')%>
<!-- /include footer -->
