<%- include('include/_header')%>

<!-- Users list -->

<header id="header">
     <nav>
          <div class="container">
               <div class="text-center">
                    <h1 class="nav-brand text-dark">Administración de Usuarios</h1>
               </div>
          </div>
     </nav>
</header>

<main id="site-main">
     <div class="container">
          <div class="box-nav d-flex justify-between">
               <div class="filter">
                    <a href="/user/dashboard"><i class="fas fa-angle-double-left"></i> Home</a>
                    <a href="/user/users"><i class="fas fa-angle-double-left"></i> Usuarios</a>
               </div>
          </div>
          <div class="form-title text-center">
               <h2 class="text-dark">Editar usuario</h2>
               <span>Actualiza la información de un usuario</span>
          </div>

           <!-- Form handling -->
           <form method="POST" id="update_user" enctype="multipart/form-data">   
               <div>
                    <div class="form-group">    
                         <label for="nombres">Nombres</label>
                         <input type="hidden" name="id" value="<%= user._id %>">
                         <input type="text" name="nombres" id="nombres" placeholder="Nombres" class="form-control" 
                         value="<%= user.nombres %>" required>
                    </div>
                    <div class="form-group">
                         <label for="apellidos">Apellidos</label>
                         <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos" class="form-control" value="<%= user.apellidos %>" required>
                    </div>
                    <div class="form-group">
                         <label for="fechaNacimiento">Fecha de nacimiento</label>
                         <input class="form-control" type="date" id="fechaNacimiento" name="fechaNacimiento" 
                         value="<%= new Date(user.fechaNacimiento) %>" required>
                    </div>
                    <div class="form-group">
                         <label for="sexo">Sexo</label>
                         <select class="form-control" name="sexo" id="sexo" required>
                              <option value="Hombre" <%= user.sexo == "Hombre" ? 'selected' : '' %>>Hombre</option>
                              <option value="Mujer" <%= user.sexo == "Mujer" ? 'selected' : '' %>>Mujer</option>
                              <option value="Otro" <%= user.sexo == "Otro" ? 'selected' : '' %>>Otro</option>
                         </select>
                    </div>
                    <div class="form-group">
                         <label for="celular">Celular</label>
                         <input type="text" name="celular" id="celular" placeholder="Numero celular" class="form-control" value="<%= user.celular %>" required>
                    </div>
                    <div class="form-group">
                         <label for="direccion">Direccion</label>
                         <input type="text" name="direccion" id="direccion" placeholder="Dirección" class="form-control" value="<%= user.direccion %>" required>
                    </div>
                    <div class="form-group">
                         <label for="rol">Rol</label>
                         <select class="form-control" name="rol" id="rol" required>
                              <% if(locals.roles){ %>  
                                   <% for(var i=0; i < roles.length; i++) { %>
                                        <option value=<%= roles[i]._id %> <%= user.rol == roles[i]._id.toString() ? 'selected' : '' %>><%= roles[i].nombre %></option>
                                        <% } %>
                              <% } %>
                         </select>
                    </div>
                    <div class="form-group">
                         <label for="estatus">Estatus</label>
                         <select class="form-control" name="estatus" id="estatus" required>
                              <option value="true" <%= user.activo == true ? 'selected' : '' %>>Activo</option>
                              <option value="false" <%= user.activo == false ? 'selected' : '' %>>Inactivo</option>
                         </select>
                    </div>
                    <div class="form-group">
                         <button type="submit" class="btn btn-success">Actualizar</button>
                    </div>
               </div>
               
          </form>
          <!-- /Form handling -->
          
     </div>
</main>

<!-- /Users list -->

<%- include('include/_footer')%>

