<%- include('include/_header')%>

<!-- Users list -->


<div class="d-flex">
     <div class="sidebar">
          <div class="logo-details">
            <i class='bx bxs-thermometer'></i>
            <span class="logo_name">Btms</span>
          </div>
          <ul class="nav-links">
            <li>
              <a href="/user/home">
                <i class='bx bx-grid-alt' ></i>
                <span class="link_name">Dashboard</span>
              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Dashboard</a></li>
              </ul>
            </li>
            <li>
              <div class="iocn-link">
                <a href="/btm/search">
                  <i class='bx bx-line-chart'aria-hidden="true"></i>
                  <span class="link_name">Mediciones de Temperatura</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
              </div>
              <ul class="sub-menu">
                <li><a class="link_name" href="#">Mediciones de Temperatura</a></li>
                <li><a href="/btm/measurements"><i class='bx bx-table icon'></i>Últimas Mediciones</a></li>
                
              </ul>
            </li>
            <li>
              <div class="iocn-link">
                <a href="/user/search">
                  <i class='bx bxs-user-detail' aria-hidden="true"></i>
                  <span class="link_name">Usuarios</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
              </div>
              <ul class="sub-menu">
                <li><a class="link_name" href="#">Usuarios</a></li>
                <li><a href="/user/search"><i class='bx bx-search  icon'></i>Buscar</a></li>
                <li><a href="/user/create-user"><i class='bx bxs-user-plus  icon'></i>Registrar</a></li>
                <li><a href="/user/allUsers"><i class='bx bx-table icon '></i>Últimos Registros</a></li>
              </ul>
            </li>
            
           
      </ul>
        </div>

     <div class="w-100">
          
          <div class="form-title text-center">
               <h2 class="text-dark">Editar usuario</h2>
               <span>Actualiza la información de un usuario</span>
          </div>

           <!-- Form handling -->
           <form method="POST" id="updateUserInfo" enctype="multipart/form-data">   
               <div>
                    <h4>Información del usuario</h4>
                    <div class="form-group">    
                         <label for="nombres">Nombres</label>
                         <input type="hidden" name="id" value="<%= user._id %>">
                         <input type="hidden" name="imgKey" value="<%= user.imgKey %>">
                         <input type="text" name="nombres" id="nombres" placeholder="Nombres" class="form-control" 
                         value="<%= user.nombres %>" required>
                    </div>
                    <div class="form-group">
                         <label for="apellidos">Apellidos</label>
                         <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos" class="form-control" value="<%= user.apellidos %>" required>
                    </div>
                    <div class="form-group">
                         <label for="cedula">Cédula</label>
                         <input type="text" name="cedula" id="cedula" placeholder="Cedula" class="form-control" value="<%= user.cedula %>" required>
                    </div>
                    <div class="form-group">
                         <label for="userPhoto">Cambiar foto</label>
                         <input type="file" name="userPhoto" id="userPhoto" class="form-control" 
                         accept="image/jpeg, image/png"/>
                         <img src="/user/images/<%= user.imgKey %>" id="img_uploaded" class="rounded-circle"/>
                    </div>
                    <div class="form-group">
                         <label for="fechaNacimiento">Fecha de nacimiento</label>
                         <input class="form-control" type="date" id="fechaNacimiento" name="fechaNacimiento" 
                         value="<%= user.fechaNacimiento.toISOString().slice(0, 10) %>" required>
                    </div>
                    <div class="form-group">
                         <label for="sexo">Sexo</label>
                         <select class="form-control" name="sexo" id="sexo" required>
                              <option value="Hombre" <%= user.sexo == "Hombre" ? 'selected' : '' %>>Hombre</option>
                              <option value="Mujer" <%= user.sexo == "Mujer" ? 'selected' : '' %>>Mujer</option>
                              <option value="Otro" <%= user.sexo == "Otro" ? 'selected' : '' %>>Otro</option>
                         </select>
                    </div>
                    <div class="form-group">
                         <label for="celular">Celular</label>
                         <input type="text" name="celular" id="celular" placeholder="Numero celular" class="form-control" value="<%= user.celular %>" required>
                    </div>
                    <div class="form-group">
                         <label for="direccion">Direccion</label>
                         <input type="text" name="direccion" id="direccion" placeholder="Dirección" class="form-control" value="<%= user.direccion %>" required>
                    </div>
                    <div class="form-group">
                         <label for="estatus">Estatus</label>
                         <select class="form-control" name="estatus" id="estatus" required>
                              <option value="true" <%= user.activo == true ? 'selected' : '' %>>Activo</option>
                              <option value="false" <%= user.activo == false ? 'selected' : '' %>>Inactivo</option>
                         </select>
                    </div>
                    <div class="form-group">
                         <label for="rol">Rol</label>
                         <select class="form-control" name="rol" id="rol" required>
                              <% for(var i=0; i < roles.length; i++) { %>
                                   <option value=<%= roles[i]._id %> <%= user.rol == roles[i]._id.toString() ? 'selected' : '' %>><%= roles[i].nombre %></option>
                              <% } %>
                         </select>
                    </div>
                    <div class="form-group" id="adminCredentials">
                         <br>
                         <div>
                              <h5>Provea email y contraseña para el Administrador</h5>
                         </div>
                         <div class="form-group" id="input_email"></div>
                         <div class="form-group" id="input_password"></div>
                    </div>               
                    <div class="form-group">
                         <button type="submit" class="btn btn-success">Actualizar</button>
                    </div>
               </div>
          </form>
          <br>
          <% if(locals.userCredentials){ %>  
               <form method="POST" id="updateUserEmail">   
                    <div>
                         <div>
                              <h4>Información de Cuenta</h4>
                         </div>
                         <div class="form-group">
                              <label for="emailToUpdate">Email</label>
                              <input type="hidden" name="id" value="<%= user._id %>">
                              <input type="email" name="emailToUpdate" id="emailToUpdate" placeholder="example@gmail.com" class="form-control" value="<%= userCredentials.email %> " required>
                         </div>
                         <div class="form-group">
                              <button type="submit" class="btn btn-success">Actualizar email</button>
                         </div>
                    </div>
               </form>
               <br>
               <form method="POST" id="updateUserPasswd">
                    <div>
                         <div>
                              <h4>Cambiar contraseña</h4>
                         </div>
                         <div class="form-group">    
                              <label for="oldPasswd">Contraseña antigua</label>
                              <input type="hidden" name="id" value="<%= user._id %>">
                              <input type="password" name="oldPasswd" id="oldPasswd" class="form-control" required>
                         </div>
                         <div class="form-group">
                              <label for="newPasswd">Nueva contraseña</label>
                              <input type="password" name="newPasswd" id="newPasswd" class="form-control" required>
                         </div>
                         <div class="form-group">
                              <label for="confPasswd">Confirmar nueva contraseña</label>
                              <input type="password" name="confPasswd" id="confPasswd" class="form-control" required>
                         </div>
                         <div class="form-group">
                              <button type="submit" class="btn btn-success">Actualizar contraseña</button>
                         </div>
                    </div>
               </form>
          <% } %>

          <!-- /Form handling -->
          
     </div>
</div>

<!-- /Users list -->

<%- include('include/_footer')%>

