<%- include('include/_header')%>

<!-- Users list -->


<div class="d-flex">
     <%- include('include/_sidebar')%>

     <div class="w-100">
          <%- include('include/_navbar')%>

          <nav aria-label="breadcrumb">
               <ol class="breadcrumb" >
                 <li class="breadcrumb-item"><a href="/user/home">Dashboard</a></li>
                 <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
                 <li class="breadcrumb-item active" aria-current="page">Actualizar Datos</li>
               </ol>
          </nav>  
          <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
               <li class="nav-item">
                 <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Info" role="tab" aria-controls="Info" aria-selected="true">Información</a>
               </li>
               <% if(locals.hasCredentials){ %>  
                    <li class="nav-item">
                         <a class="nav-link" id="profile-tab" data-toggle="tab" href="#cuenta" role="tab" aria-controls="cuenta" aria-selected="false">Cuenta</a>
                       </li>
                       <li class="nav-item">
                         <a class="nav-link" id="contact-tab" data-toggle="tab" href="#seguridad" role="tab" aria-controls="seguridad" aria-selected="false">Seguridad</a>
                       </li>
               <% } %>
             </ul>
             <div class="tab-content" id="myTabContent">
               <div class="tab-pane fade show active" id="Info" role="tabpanel" aria-labelledby="home-tab">
                    <!-- Form handling -->
           <form method="POST" id="updateUserInfo" enctype="multipart/form-data">   
               <div class="container w-50">
                    <div class="text-center mt-4">
                         <h4>Información del usuario</h4>
                    </div>
                    <div class="form-row">
                         <div class="form-group col-md-6">    
                              <label for="nombres">Nombres</label>
                              <input type="hidden" name="id" value="<%= user._id %>">
                              <input type="hidden" name="imgKey" value="<%= user.imgKey %>">
                              <input type="text" name="nombres" id="nombres" placeholder="Nombres" class="form-control" 
                              value="<%= user.nombres %>" required>
                         </div>
                         <div class="form-group col-md-6">
                              <label for="apellidos">Apellidos</label>
                              <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos" class="form-control" value="<%= user.apellidos %>" required>
                         </div>

                    </div>
                    <div class="form-row">
                         <div class="form-group col-md-6">
                              <label for="cedula">Cédula</label>
                              <input type="text" name="cedula" id="cedula" placeholder="Cedula" class="form-control" value="<%= user.cedula %>" required>
                         </div>
                         <div class="form-group col-md-6">
                              <label for="fechaNacimiento">Fecha de nacimiento</label>
                              <input class="form-control" type="date" id="fechaNacimiento" name="fechaNacimiento" 
                              value="<%= user.fechaNacimiento.toISOString().slice(0, 10) %>" required>
                         </div>
                    </div>

                  <div class="form-row mb-4">
                    <div class="form-group col-md-12">
                         <label for="userPhoto">Cambiar foto</label>
                         
                         <div class="profile-pic-div">
                          <input type="file" name="userPhoto" id="userPhoto" class="form-control" 
                         accept="image/jpeg, image/png"/>
                         <img src="/user/images/<%= user.imgKey %>" id="img_uploaded" class="rounded-circle"/>
                         <label for="userPhoto" id="uploadBtn">Subir foto</label>
                         </div>
                         
                    </div>

                  </div>
                    
                  <div class="form-row">
                    <div class="form-group col-md-6">
                         <label for="sexo">Sexo</label>
                         <select class="form-control" name="sexo" id="sexo" required>
                              <option value="Hombre" <%= user.sexo == "Hombre" ? 'selected' : '' %>>Hombre</option>
                              <option value="Mujer" <%= user.sexo == "Mujer" ? 'selected' : '' %>>Mujer</option>
                              <option value="Otro" <%= user.sexo == "Otro" ? 'selected' : '' %>>Otro</option>
                         </select>
                    </div>
                    <div class="form-group col-md-6">
                         <label for="celular">Celular</label>
                         <input type="text" name="celular" id="celular" placeholder="Numero celular" class="form-control" value="<%= user.celular %>" required>
                    </div>

                  </div>
                    <div class="form-row">
                         <div class="form-group col-md-12">
                              <label for="direccion">Direccion</label>
                              <input type="text" name="direccion" id="direccion" placeholder="Dirección" class="form-control"  value="<%= user.direccion %>" required>
                         </div>

                    </div>
                    <div class="form-row">
                         <div class="form-group col-md-6">
                              <label for="estatus">Estatus</label>
                              <select class="form-control" name="estatus" id="estatus" required>
                                   <option value="true" <%= user.activo == true ? 'selected' : '' %>>Activo</option>
                                   <option value="false" <%= user.activo == false ? 'selected' : '' %>>Inactivo</option>
                              </select>
                         </div>
                         <div class="form-group col-md-6">
                              <label for="rol">Rol</label>
                              <select class="form-control" name="rol" id="rol" required>
                                   <% for(var i=0; i < roles.length; i++) { %>
                                        <option value=<%= roles[i]._id %> <%= user.rol == roles[i]._id.toString() ? 'selected' : '' %>><%= roles[i].nombre %></option>
                                   <% } %>
                              </select>
                         </div>
                         
                    </div>
                    
                    <div class="form-group" id="adminCredentials">
                         <br>
                         <div>
                              <h5>Provea email y contraseña para el Administrador</h5>
                         </div>
                         <div class="form-group" id="input_email"></div>
                         <div class="form-group" id="input_password"></div>
                    </div>               
                    <div class="form-group text-center">
                         <button type="submit" class="btn btn-success">Actualizar</button>
                    </div>
               </div>
          </form>
               </div>
               <div class="tab-pane fade" id="cuenta" role="tabpanel" aria-labelledby="profile-tab">
                    <% if(locals.userCredentials){ %>  
                         <form method="POST" id="updateUserEmail">   
                              <div class="container w-50">
                                   <div class="text-center pt-4">
                                        <h4>Información de Cuenta</h4>
                                   </div>
                                   <div class="form-group">
                                        <label for="emailToUpdate">Email</label>
                                        <input type="hidden" name="id" value="<%= user._id %>">
                                        <input type="email" name="emailToUpdate" id="emailToUpdate" placeholder="example@gmail.com" class="form-control" value="<%= userCredentials.email %> " required>
                                   </div>
                                   <div class="form-group">
                                        <button type="submit" class="btn btn-success">Actualizar email</button>
                                   </div>
                              </div>
                         </form>
                         
                        
                    <% } %>
               </div>
               <div class="tab-pane fade" id="seguridad" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="container w-50">
                         <% if(locals.userCredentials){ %>  
                              <form method="POST" id="updateUserPasswd">
                                   <div>
                                        <div class="text-center pt-4">
                                             <h4>Cambiar contraseña</h4>
                                        </div>
                                        <div class="form-group">    
                                             <label for="oldPasswd">Contraseña antigua</label>
                                             <input type="hidden" name="id" value="<%= user._id %>">
                                             <input type="password" name="oldPasswd" id="oldPasswd" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                             <label for="newPasswd">Nueva contraseña</label>
                                             <input type="password" name="newPasswd" id="newPasswd" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                             <label for="confPasswd">Confirmar nueva contraseña</label>
                                             <input type="password" name="confPasswd" id="confPasswd" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                             <button type="submit" class="btn btn-success">Actualizar contraseña</button>
                                        </div>
                                   </div>
                              </form>
                         <% } %>
                    </div>
                   

               </div>
             </div>


           
        
          

          <!-- /Form handling -->
          
     </div>
</div>
<script>
     const imgDiv = document.querySelector('.profile-pic-div');
     const img = document.querySelector('#img_uploaded');
     const file = document.querySelector('#userPhoto');
     const uploadBtn = document.querySelector('#uploadBtn');
     
     
     imgDiv.addEventListener('mouseenter', function(){
         uploadBtn.style.display = "block";
     });
     
     
     imgDiv.addEventListener('mouseleave', function(){
         uploadBtn.style.display = "none";
     });
     
     file.addEventListener('change', function(){
         
         const choosedFile = this.files[0];
     
         if (choosedFile) {
     
             const reader = new FileReader(); 
     
             reader.addEventListener('load', function(){
                 img.setAttribute('src', reader.result);
             });
     
             reader.readAsDataURL(choosedFile);
     
         }
     });
     </script>
     

<!-- /Users list -->

<%- include('include/_footer')%>

