<%- include('include/_header')%>

<!-- Users list -->


<div class="d-flex">
  <%- include('include/_sidebar')%>

     <div class="w-100">
          <%- include('include/_navbar')%>
          <div class="form-title text-center">
               <h3 class="text-dark">Últimos usuarios agregados</h3>
          </div>
          
          <!-- Form handling -->
          <form>   
               <table class="table">
                    <thead class="thead-dark">
                         <tr>
                              <th scope="col">#</th>
                              <th scope="col">Nombres</th>
                              <th scope="col">Apellidos</th>
                              <th scope="col">Nacimiento</th>
                              <th scope="col">Direccion</th>
                              <th scope="col">Sexo</th>
                              <th scope="col">Celular</th>
                              <!-- <th scope="col">Status</th> -->
                              <th scope="col">Acciones</th>
                         </tr>
                    </thead>
                    <tbody>
                         <% if(locals.users){ %>  
                              <% for(var i=0; i < users.length; i++) { %>
                                   <tr>
                                        <!-- <th scope="row"><%= users[i].id %></th> -->
                                        <th scope="row"><%= i+1 %></th>
                                        <td><%= users[i].nombres %></td>
                                        <td><%= users[i].apellidos %></td>
                                        <td><%= users[i].fechaNacimiento.toISOString().slice(0, 10) %></td>
                                        <td><%= users[i].direccion %></td>
                                        <td><%= users[i].sexo %></td>
                                        <td><%= users[i].celular %></td>
                                        <!-- <td><%= users[i].status %></td> -->
                                        <td>
                                             <a href="/user/<%= users[i]._id %>" class="btn border-shadow update">
                                                  <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                             </a>
                                             <a class="btn border-shadow delete" data-id=<%= users[i]._id %>>
                                                  <span class="text-gradient"><i class="fas fa-user-times"></i></span>
                                             </a>
                                        </td>
                                   </tr>
                                   <% } %>
                         <% } %>
                    </tbody>
               </table>
          </form>


          <!-- /Form handling -->

     </div>
</div>

<!-- /Users list -->

     
<%- include('include/_footer')%>