<%- include('include/_header')%>

<!-- Users list -->


<div class="d-flex">
     <div class="bg-primary" id="sidebar-container">
       <div class="sidebar-logo">
         BTMS <i class="fa fa-temperature-low" aria-hidden="true"></i>
       </div>
       <ul class="sidebar-navigation">
         <li class="header">Navegación</li>
         <li>
           <a href="/user/home">
             <i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard
           </a>
         </li>
         <li>
           <a href="/user/search">
             <i class="fa fa-search" aria-hidden="true"></i>Buscar Usuario
           </a>
         </li>
         <li>
           <a href="/user/create-user">
               <i class="fa fa-user-plus"  aria-hidden="true"></i>Registrar Usuario
             
           </a>
         </li>
         <li>
           <a href="/user/allUsers">
               <i class="fa fa-users"  aria-hidden="true"></i>Últimos usuarios registrados
             
           </a>
         </li>
         <li class="header">Acerca de</li>
         <li>
           <a href="https://www.ups.edu.ec/" target="_blank">
             <i class="fa fa-door-open" aria-hidden="true"></i>UPS
           </a>
         </li>
         <li>
           <a href="#">
             <i class="fa fa-cog" aria-hidden="true"></i>Configuración
           </a>
         </li>
         <li>
           <a href="#">
             <i class="fa fa-info-circle" aria-hidden="true"></i>Información
           </a>
         </li>
       </ul>
     </div>

     <div class="container">
          
          <div class="form-title text-center">
               <h3 class="text-dark">Últimos usuarios agregados</h3>
          </div>
          
          <!-- Form handling -->
          <form>   
               <table class="table">
                    <thead class="thead-dark">
                         <tr>
                              <th scope="col">#</th>
                              <th scope="col">Nombres</th>
                              <th scope="col">Apellidos</th>
                              <th scope="col">Nacimiento</th>
                              <th scope="col">Direccion</th>
                              <th scope="col">Sexo</th>
                              <th scope="col">Celular</th>
                              <!-- <th scope="col">Status</th> -->
                              <th scope="col">Acciones</th>
                         </tr>
                    </thead>
                    <tbody>
                         <% if(locals.users){ %>  
                              <% for(var i=0; i < users.length; i++) { %>
                                   <tr>
                                        <!-- <th scope="row"><%= users[i].id %></th> -->
                                        <th scope="row"><%= i+1 %></th>
                                        <td><%= users[i].nombres %></td>
                                        <td><%= users[i].apellidos %></td>
                                        <td><%= users[i].fechaNacimiento.toISOString().slice(0, 10) %></td>
                                        <td><%= users[i].direccion %></td>
                                        <td><%= users[i].sexo %></td>
                                        <td><%= users[i].celular %></td>
                                        <!-- <td><%= users[i].status %></td> -->
                                        <td>
                                             <a href="/user/<%= users[i]._id %>" class="btn border-shadow update">
                                                  <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                             </a>
                                             <a class="btn border-shadow delete" data-id=<%= users[i]._id %>>
                                                  <span class="text-gradient"><i class="fas fa-user-times"></i></span>
                                             </a>
                                        </td>
                                   </tr>
                                   <% } %>
                         <% } %>
                    </tbody>
               </table>
          </form>


          <!-- /Form handling -->

     </div>
</div>

<!-- /Users list -->

     
<%- include('include/_footer')%>